.sign-in_container {
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 15%;
}

.sign-in_container h2 {
    text-align: center;
}

.sign-in_container section {
    display: flex;
    flex-direction: column;
}

.sign-in_container label {
    margin-top: 8px;
}

.sign-in_container input {
    height: 30px;
}

.sign-in_container button {
    width: 40%;
    height: 30px;
    margin-top: 10px;
    border-radius: 10px;
    align-self: center;
}

.sign-in_container a {
    text-decoration: none;
    align-self: center;
    margin-top: 5px;
}