body {
    margin: 0%;
    min-height: 100vh;
}

.main-container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

.patient-page {
    height: 100%;
    border-bottom: 1px;
    border-bottom-style: solid;
    border-bottom-color: black;
    margin-bottom: 3px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.doctor-page {
    height: 100%;
    border-top: 1px;
    border-top-style: solid;
    border-top-color: black;
    margin-top: 3px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.patient-page__queue-section {
    height: 50%;
    margin: 2%;
}

.patient-page__queue-section h1 {
    margin-left: 43%;
}

.patient-page__queue-section input {
    width: 100%;
    height: 40%;
    margin: 5%;
    border-radius: 20px;
    outline: none;
    font-size: 30px;
}

.patient-page__resolution-section {
    height: 50%;
    display: flex;
}

.patient-page__resolution-section input {
    height: 30%;
    width: 30%;
    border-radius: 10px;
    outline: none;
    font-size: 18px;
    margin-top: 3%;
}

.doctor-page__set-resolution-section, .doctor-page__find-resolution-section, .doctor-page__patient-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 33%;
}

.doctor-page__find-resolution-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 33%;

}

.doctor-page__set-resolution-section input {
    height: 5rem;
    width: 37rem;
    margin-bottom: 2%;
    border-radius: 10px;
    margin-left: 18%;
}

#add-ttl-checkbox {
    height: 15px;
    width: 15px;
    margin-left: 5%;
}

.doctor-page__set-resolution-section button {
    margin-left: 22%;
}

.button {
    width: 7em;
    margin-left: 5%;
    border-radius: 10px;
    font-size: 13px;
    text-align: center;
    padding: 0.4em;
}

.doctor-page__find-resolution-section input {
    height: 3em;
    width: 20em;
    border-radius: 10px;
    margin-bottom: 5px;
}

.doctor-page__find-resolution-section table {
    margin-top: 30px;
    width: 100%;
}

.doctor-page__find-resolution-section button {
    width: 10em;
}

.doctor-page__find-resolution-section section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#foundResolutionField__patientInterface{
    width: 100%;
    height: auto;
}

#select-doctor {
    display: flex;
    flex-direction: column;
    width: 20%;
    margin-left: 40%;
}

#select-doctor select{
    margin-top: 4px;
    height: 30px;
}

#addNewPatientButton {
    margin-left: 40%;
    margin-top: 15px;
    width: 20%;
}

.resolution_table {
    border-collapse: collapse;
    width: 80%;
    margin-left: 10%;
}

.resolution_table tr td {
    border: 1px solid black;
    padding: 4px;
}

.resolution_table th {
    border: 1px solid black;
    padding: 4px;
    text-align: center;
}